# Excluding extensionless binaries from cli directory
cli/*
!cli/**/
!cli/*.*

# Exclude project files
.idea
*.iml

# scratch files during development
output/
validator/Output*
examples/addition-algorithm/outputs

# System metadata
.DS_Store
