sudo: required

language: python

services:
  - docker

before_install:
  - export SEED_LATEST=$(tail -1 .versions)
  - mkdir -p output
  - docker pull rochdev/alpine-asciidoctor:mini
  - pip install json-spec

script:
  # Build index.adoc WITHOUT snapshot tag
  - if [[ "${TRAVIS_TAG}x" == "x" ]] ; then ./set-version.sh ${SEED_LATEST}; ./spec/examples/inject-manifests.sh; fi
  - ./spec/add-version-links.sh
  - docker run -v $TRAVIS_BUILD_DIR/spec:/documents --name=index rochdev/alpine-asciidoctor:mini asciidoctor -D /documents/output index.adoc
  - git checkout -- spec
  # Use snapshot for remainder for master builds
  - if [[ "${TRAVIS_TAG}x" == "x" ]] ; then ./set-version.sh ${SEED_LATEST}-snapshot; ./spec/examples/inject-manifests.sh; fi
  - ./spec/examples/validate-examples.sh
  - docker run -v $TRAVIS_BUILD_DIR/spec:/documents --name=seed rochdev/alpine-asciidoctor:mini asciidoctor -D /documents/output seed.adoc
  - perl -0777 -i.bak -pe 's/\/\/{pdf\+4}\na/4\+a/g;' -pe 's/\/\/{pdf\+1}\n3\+a/4\+a/g' $TRAVIS_BUILD_DIR/spec/sections/standard.adoc
  - docker run -v $TRAVIS_BUILD_DIR/spec:/documents --name=seed-pdf rochdev/alpine-asciidoctor:mini asciidoctor-pdf -a pdf-style=style/pdf-theme.yml -a pdf-fontsdir=style/ -D /documents/output seed.adoc

after_failure:
  - docker logs index
  - docker logs seed
  - docker logs seed-pdf

before_deploy:
  - ./spec/collect-versioned-docs.sh

deploy:
  # Deployment that pushes GitHub releases of compiled spec docs associated with tag
  - provider: releases
    api_key: "$GH_TOKEN"
    file_glob: true
    file: spec/output/${TRAVIS_TAG}/*
    skip_cleanup: true
    on:
      tags: true

  # Only performed on master builds. For releases, timing of master build must be after artifacts are available.
  - provider: pages
    local_dir: spec/output
    skip_cleanup: true
    github_token: $GH_TOKEN
    on:
      branch: master
      condition: $TRAVIS_PULL_REQUEST == false

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/10070a680400c55e3baa
    on_success: change
    on_failure: always
    on_start: never
